@model FFCNMaintenance.Models.MasterModel
@{
    Layout = "~/Views/Shared/_LayoutUserSelected.cshtml";
}

@Scripts.Render("~/bundles/jqueryui")
<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $(".datepicker").datepicker(); //Initialise any date pickers
    });
</script>
@{SelectList userSelectList = ViewBag.UserList;}
@{SelectList vbattendintro = ViewBag.AttendIntro;}
@{SelectList vbintrorsvp = ViewBag.IntroRSVP;}
@{SelectList vbps1 = ViewBag.PS1;}
@{SelectList vbps2 = ViewBag.PS2;}
@{SelectList vbps2009 = ViewBag.PS2009;}
@{SelectList vbpscomp = ViewBag.PSComp;}
@{SelectList vbpsrsvp = ViewBag.PSRSVP;}
@{SelectList vbongoing = ViewBag.Ongoing;}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>


    <!-- partial view can contain this code. The "row" breaks the section into 2 columns -->
    @if (Model != null)
    {
        <section id="training-history">
            <div class="row">
                <!--column names only-->
                <div class="col-xs-4">
                </div>
                <div class="col-xs-2">
                    <h4>Date</h4>
                </div>
                <div class="col-xs-2">
                    <h4>Staff</h4>
                </div>
                <div class="col-xs-4">
                    <h4>Training Dates</h4>
                </div>
            </div><!--/.row -->
            <div class="row">
                <div class="col-xs-4">
                    <!-- #Training History Checkbox Column -->
                    @Html.CheckBox("masterModel.TrainingHistory[0].Orientationmtg", Model.TrainingHistory[0].Orientationmtg)<label>&nbsp; Orientation Meeting</label>
                    <br />
                    @Html.CheckBox("masterModel.TrainingHistory[0].OnetoOneOrientation", Model.TrainingHistory[0].OnetoOneOrientation)<label>&nbsp;  One-on-One Orientation</label>
                    <br />
                    @Html.CheckBox("masterModel.TrainingHistory[0].RSVPd", Model.TrainingHistory[0].RSVPd)<label>&nbsp;  Intro - RSVP</label>
                    <br />
                    @Html.CheckBox("masterModel.TrainingHistory[0].IntroFoster", Model.TrainingHistory[0].IntroFoster)<label>&nbsp;  Attended Intro</label>
                    <br />
                    @Html.CheckBox("masterModel.TrainingHistory[0].RSVPpreservice", Model.TrainingHistory[0].RSVPpreservice)<label>&nbsp;  Preservice - RSVP</label>
                    <br />
                    @Html.CheckBox("masterModel.TrainingHistory[0].AttendPreservice1", Model.TrainingHistory[0].AttendPreservice1)<label>&nbsp;  Attended Preservice Day 1</label>
                    <br />
                    @Html.CheckBox("masterModel.TrainingHistory[0].AttendPreservice2", Model.TrainingHistory[0].AttendPreservice2)<label>&nbsp;  Attended Preservice Day 2</label>
                    <br />
                    @Html.CheckBox("masterModel.TrainingHistory[0].PreFinished8", Model.TrainingHistory[0].PreFinished8)<label>&nbsp;  Pre-Service Cert of Completion</label>
                    <br />
                   
                    @Html.CheckBox("masterModel.TrainingHistory[0].AttendedPrebefore2009", Model.TrainingHistory[0].AttendedPrebefore2009)<label>&nbsp;  Attended Preservice prior to 2009</label>
                </div><!-- / .col-xs-4 checkboxes -->
                <div class="col-xs-2" id="training-date">
                    @Html.TextBox("masterModel.TrainingHistory[0].DateOrient", Model.TrainingHistory[0].DateOrient, new { @class = "form-control datepicker" })
                    <br />
                    @Html.TextBox("masterModel.TrainingHistory[0].DateOneOnOne", Model.TrainingHistory[0].DateOneOnOne, new { @class = "form-control datepicker" })
                    <br />
                    @Html.TextBox("masterModel.TrainingHistory[0].TrainDatePreserviceComp", Model.TrainingHistory[0].TrainDatePreserviceComp, new { @class = "form-control datepicker" })
                    <br />

                    <!--insert the rest of the dates here-->
                </div><!--/#training-date -->
                <div class="col-xs-2" id="training-staff">

                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffOrient", Model.TrainingHistory[0].UserSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffOneOnOne", Model.TrainingHistory[0].UserSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffIntro", Model.TrainingHistory[0].UserSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffAttendedIntro", Model.TrainingHistory[0].UserSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffPreserviceRSVP", Model.TrainingHistory[0].UserSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffAttendedPreservice1", Model.TrainingHistory[0].UserSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffAttendedPreservice2", Model.TrainingHistory[0].UserSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffPreserviceComp", Model.TrainingHistory[0].UserSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffPreservicePrior", Model.TrainingHistory[0].UserSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <!-- the staff dropboxes go here-->
                </div><!--/#training-staff -->
                <div class="col-xs-4" id="training-dates">
                    <!-- the training dates drop downs goes here-->
                    @Html.DropDownList("masterModel.TrainingHistory[0].TrainDateIntro", Model.TrainingHistory[0].TrainIntroRSVP, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].TrainDateAttendedIntro", Model.TrainingHistory[0].TrainAttendedIntro, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].TrainDatePreserviceRSVP", Model.TrainingHistory[0].TrainPreserviceRSVP, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].TrainDateAttendedPreservice1", Model.TrainingHistory[0].TrainAttendPreservice1, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].TrainDateAttendedPreservice2", Model.TrainingHistory[0].TrainAttendPreservice2, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].TrainDatePreserviceComp", Model.TrainingHistory[0].TrainPreserviceComp, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].TrainDatePreservice2009", Model.TrainingHistory[0].TrainPreservice2009, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                </div><!--/#training-dates -->
            </div><!-- / .row -->
            <div class="row">
                <!--dropdowns at bottom-->
                <div class="col-xs-4">
                    <h4>Ongoing Training</h4>
                    <br>
                    <!-- dropdown for ongoing training-->
                    @Html.DropDownList("masterModel.TrainingHistory[0].OngoingTraining9", Model.TrainingHistory[0].OngoingTraingingList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                </div>
                <div class="col-xs-2">
                    <h4>Date</h4>
                    <br>
                    @Html.TextBox("masterModel.TrainingHistory[0].DateOngoing", Model.TrainingHistory[0].DateOngoing, new { @class = "form-control datepicker" })
                    <br />
                    <!-- box for date-->
                </div>
                <div class="col-xs-2">
                    <h4>Staff</h4>
                    <br>
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffOngoing", Model.TrainingHistory[0].UserSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <!-- dropdown for staff-->
                </div>
                <div class="col-xs-4">
                </div>
            </div><!--/.row -->
        </section><!-- / #training-history-->
    }
    else
    {
        <section id="training-history">
            <div class="row">
                <!--column names only-->
                <div class="col-xs-4">
                </div>
                <div class="col-xs-2">
                    <h4>Date</h4>
                </div>
                <div class="col-xs-2">
                    <h4>Staff</h4>
                </div>
                <div class="col-xs-4">
                    <h4>Training Dates</h4>
                </div>
            </div><!--/.row -->
            <div class="row">
                <div class="col-xs-4">
                    <!-- #Training History Checkbox Column -->
                    @Html.CheckBox("masterModel.TrainingHistory[0].Orientationmtg")<label>&nbsp;  Orientation Meeting</label>
                    <br />
                    @Html.CheckBox("masterModel.TrainingHistory[0].OnetoOneOrientation")<label>&nbsp;  One-on-One Orientation</label>
                    <br />
                    @Html.CheckBox("masterModel.TrainingHistory[0].RSVPd")<label>&nbsp;  Intro - RSVP</label>
                    <br />
                    @Html.CheckBox("masterModel.TrainingHistory[0].IntroFoster")<label>&nbsp;  Attended Intro</label>
                    <br />
                    @Html.CheckBox("masterModel.TrainingHistory[0].RSVPpreservice")<label>&nbsp;  Preservice - RSVP</label>
                    <br />
                    @Html.CheckBox("masterModel.TrainingHistory[0].AttendPreservice1")<label>&nbsp;  Attended Preservice Day 1</label>
                    <br />
                    @Html.CheckBox("masterModel.TrainingHistory[0].AttendPreservice2")<label>&nbsp;  Attended Preservice Day 2</label>
                    <br />
                    @Html.CheckBox("masterModel.TrainingHistory[0].PreFinished8")<label>&nbsp;  Pre-Service Cert of Completion</label>
                    <br />
                    @Html.CheckBox("masterModel.TrainingHistory[0].AttendedPrebefore2009")<label>&nbsp;  Attended Preservice prior to 2009</label>
                    <br />
                </div><!-- / .col-xs-4 checkboxes -->
                <div class="col-xs-2" id="training-date">
                    <h4>Date</h4>
                    @Html.TextBox("masterModel.TrainingHistory[0].DateOrient")
                    <br />
                    @Html.TextBox("masterModel.TrainingHistory[0].DateOneOnOne")
                    <br />
                    @Html.TextBox("masterModel.TrainingHistory[0].TrainDatePreserviceComp")
                    <br />
                    <!--insert the rest of the dates here-->
                </div><!--/#training-date -->
                <div class="col-xs-2" id="training-staff">
                    <!-- the staff dropboxes go here-->
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffOrient", userSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffOneOnOne", userSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffIntro", userSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffAttendedIntro", userSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffPreserviceRSVP", userSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffAttendedPreservice1", userSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffAttendedPreservice2", userSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffPreserviceComp", userSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffPreservicePrior", userSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                </div><!--/#training-staff -->
                <div class="col-xs-4" id="training-dates">
                    <!-- the training dates drop downs goes here-->
                    @Html.DropDownList("masterModel.TrainingHistory[0].TrainDateIntro", vbintrorsvp, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].TrainDateAttendedIntro", vbattendintro, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].TrainDatePreserviceRSVP", vbpsrsvp, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].TrainDateAttendedPreservice1", vbps1, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].TrainDateAttendedPreservice2", vbps2, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].TrainDatePreserviceComp", vbpscomp, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                    <br />
                    @Html.DropDownList("masterModel.TrainingHistory[0].TrainDatePreservice2009", vbps2009, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                </div><!--/#training-dates -->
            </div><!-- / .row -->
            <div class="row">
                <!--dropdowns at bottom-->
                <div class="col-xs-4">
                    <h4>Ongoing Training</h4>
                    <br>
                    <!-- dropdown for ongoing training-->
                    @Html.DropDownList("masterModel.TrainingHistory[0].OngoingTraining9", vbongoing, "--------", new
                            {
                                @class = "form-control-inline dropdown"
                            })
                </div>
                <div class="col-xs-2">
                    <h4>Date</h4>
                    <br>
                    <!-- box for date-->
                    @Html.TextBox("masterModel.TrainingHistory[0].DateOngoing")
                    <br />
                </div>
                <div class="col-xs-2">
                    <h4>Staff</h4>
                    <br>
                    <!-- dropdown for staff-->
                    @Html.DropDownList("masterModel.TrainingHistory[0].StaffOngoing", userSelectList, "--------", new
                             {
                                 @class = "form-control-inline dropdown"
                             })
                </div>
                <div class="col-xs-4">
                </div>
            </div><!--/.row -->
        </section><!-- / #training-history-->
    }


    </div>
</body>
</html>
